.super-mario {
    width: 200px; 
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 375px;
    left: 75px;
  }
  
  .baloon {
    position: absolute;
    top: 220px;
    left: 500px;
  }
  
  .speach {
    font-size: 25px;
    position:absolute;
    z-index: 1;
    top: 260px;
    left:525px;
  }
  
  .bowser {
    width: 200px;
    position:absolute;
    top: 370px;
    left: 800px;
  }

  